body{
    background-color: rgba(255, 255, 255, 0);
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
#header{
    margin-left: -20px;
    margin-top: -25px;
    margin-right: -20px;
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-family: 'Sulphur Point', sans-serif;
    color: #fffafa;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;
    animation-name: reverse;
    animation-duration: 300ms;
}
@media only screen and (max-width: 768px) {
    #header{
        height: 10%;
    }
  }


.header{
    position: absolute;
    height: 70px;
    z-index: 11;
    padding:0;
    left: 70px;
}
#header-img{
    position: fixed;
    height: 50px;
    top: 10px;

}
.header:hover ~ #header{
    animation-name: changebg;
    animation-duration: 300ms;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
 }

 @keyframes changebg{
   100%{
    box-shadow: 0 10px 20px rgba(238, 255, 0, 0.19), 0 6px 6px rgba(229, 255, 0, 0.23);
    height: 140px;
   }
}
   
   @keyframes reverse{
       0%{
        box-shadow: 0 10px 20px rgba(238, 255, 0, 0.19), 0 6px 6px rgba(229, 255, 0, 0.23);
        height: 140px;
       }
       100%{
        height: 70px;
       }
   }
#nav-bar{
    float: right;
    position: relative;
    top: 35px;
    right: 10px;
}
.nav-link{
    padding: 5px;
    text-decoration: none;

}
#buynow{
    background-color: yellow;
    border-radius: 10px;
    color: black;
}


#main{
    box-sizing: border-box;
    background-color: rgb(237,237,237);
    height: 100%;
    width: 100%;
    margin: 0;

}
#background{
    width: 150%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.76);
    position:absolute;
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(20deg);
    margin-top: 150px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#Phone{
    position: relative;
    height: 200%;
    width: 120%;
    z-index: 9;
    right: 100px;
}
.Phone{
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
    height:500px;


}
#PhoneT{
    height: 200%;
    width: 150%;
    position: relative;
    right: 250px;
    bottom:250px;
   
}
.PhoneTitle{
    float: right;
    margin: 0;
    padding: 0;
    width: 50%;
    height:500px;
}

#PhoneDescripitionCard{
    margin: auto;
    top: -20px;
    padding: 20px;
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 2;
    background-color:rgb(255, 255, 255);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    grid-template-areas:
      "left right"
      ;

}

.Description{
    grid-area: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 360px;

}
#Text{
    text-align: left;
    font-family: 'Barlow Condensed', sans-serif;
    position:relative;
    top: 50px;
    left: 40px;
    font-size: 50px;
    text-shadow: 2px 2px yellow;
}

.DescriptionsImage{
    grid-area: right;
    width: 100%;
    height: 360px;
    margin: 0;
    background-color: rgba(0, 255, 255, 0);
     
}

#Image{
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    left: 270px;
}

#Specs{
    margin: auto;
    top: -20px;
    padding: 20px;
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    grid-template-areas:
      "front back"
}

#FrontSide{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 285px;
    z-index: 5;


}

#BackSide{
    width: 500px;
    height: 500px;
    position: absolute;
    right: 235px;
    z-index: 3;



}

#front{
    grid-area: front;

}

#back{
    grid-area: back;

}

#SpecsCard{
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 400px;
    position: absolute;
    background-color: #fffafa;
    z-index: 4;

}

#fillerdiv{
    margin: auto;
    padding: 20px;
    width: 100%;
    position: relative;
    height: 400px;

}

#Products{
    margin: auto;
    width: 96%;
    position: relative;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
      "title title title"
      "item item item"
      "item item item"
      "buy buy buy"
    ;
}

.ItemBox{
    height: 250px;
    width: 100%;
    background-color: rgb(238, 255, 0);
    border: solid;
}

#item1{
    grid-area: item;
}
#item2{
    grid-area: item;
}
#item3{
    grid-area: item;
}
#item4{
    grid-area: item;
}
#item5{
    grid-area: item;
}
#item6{
    grid-area: item;
}

#Ptext{
grid-area: title;
}

#ProductText{
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 250px;
}

#Buy{
    grid-area: buy;
}

#Buytext{
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    width: fit-content;
    padding: 5px;
    background-color: yellow;
    border-radius: 10px;
}

#About{
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 300px;
    background-color: dimgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#AboutText{
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: #000000;
}
